.header{
    min-height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.outlet {
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: auto;
}

.singlePost {
    margin-left: 150px;
}

.wraper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}